# EditorConfig: https://editorconfig.org

# Wildcard Patterns
# Special characters recognized in section names for wildcard matching:

# *	            Matches any string of characters, except path separators (/)
# **	        Matches any string of characters
# ?	            Matches any single character
# [name]	    Matches any single character in name
# [!name]	    Matches any single character not in name
# {s1,s2,s3}	Matches any of the strings given (separated by commas) (Available since EditorConfig Core 0.11.0)
# {num1..num2}	Matches any integer numbers between num1 and num2, where num1 and num2 can be either positive or negative

# top-most EditorConfig file
root = true

# Apply to every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 2
